clipboard==0.0.4
Pillow==8.2.0
psutil==4.3.1
PyAudio==0.2.9
pycrypto==2.6.1
pygame==1.9.2b8
PyInstaller==3.1.1
pynput==1.1
pyperclip==1.5.27
pyscreenshot==0.4.2
python3-xlib==0.15
requests==2.11.1
six==1.10.0
telepot==9.1
urllib3==1.26.5
zope.interface==4.3.2
